@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    margin: 0%;
    padding: 0%;
    color: rgb(51, 88, 74);
    background: url("bg-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgba(131, 236, 208, 0.604);
    padding: 3rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(107, 100, 100, 0.5);
    border-top: 1px solid rgba(128, 126, 126, 0.5);
    border-left: 1px solid rgba(128, 126, 126, 0.5);
    backdrop-filter: blur(2px);
}
h2 {
    font-size: 2.3rem;
    padding-bottom: 4px;
    border-bottom: 2px solid;
}
#f-col {
    color: rgb(5, 207, 5);
}
label{
    font-size: 1.5rem;
    margin: 0px 40px 10px 5px;
}
input{
    border: 2px solid rgb(96, 95, 95);
    background: transparent;
    padding: 10px;
    margin: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
}
input[type = "checkbox"]{
    height: 1.8rem;
    width: 1.8rem;
    display: inline;
    background: transparent;
    border: 1px solid;
    margin: auto;
    cursor: pointer;    
}
button{
    padding: 10px 20px;
    background: transparent;
    border: 1px solid;
    border-color: rgb(96, 95, 95);
    color: rgb(96, 95, 95);
    margin: 20px;
    font-size: 1.3rem;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(to right, rgb(90, 219, 245), rgb(197, 246, 246));
}
#result{
    color: darkgrey;
}
